<html xmlns="http://www.w3.org/1999/html">
  <head>
      <title>Continue Authentication</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css"/>
      <style type="text/css">
          .header {
              margin-bottom: 15px;
              border-bottom: 1px solid #eee;
          }
      </style>
  </head>
  <body>
    <div class="container">
        <div class="header">
            <h1>Porter <small>OpenId Provider {{#porter}}v{{version}}{{/porter}}</small></h1>
        </div>
        <h2>Continue</h2>
        <p>Continue authentication with <strong>{{realm}}</strong> as <strong>{{identity}}</strong>.</p>
        <div class="col-md-8 col-md-offset-1">
            {{#attributesExist}}
                <p>The party at '{{realm}}' wants you to provide the following information. The marked fields
                were requested as required, but you can choose to not provide the information. The
                sign in process at '{{realm}}' may then not be successful, though.</p>
            {{/attributesExist}}
            <form role="form" action="{{endpointUrl}}" method="post">
                {{#params}}
                    <input type="hidden" name="{{name}}" value="{{value}}"/>
                {{/params}}
                {{#attributes}}
                    <div class="form-group {{#required}}has-error{{/required}}">
                        <label for="{{name}}">{{label}}</label>
                        {{#select}}
                            <select name="{{name}}" id="{{name}}" class="form-control">
                                {{#values}}
                                    <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
                                {{/values}}
                            </select>
                        {{/select}}
                        {{^select}}
                            <input type="text" class="form-control" id="{{name}}" name="{{name}}" placeholder="{{label}}" value="{{value}}">
                        {{/select}}
                    </div>
                {{/attributes}}
                {{^attributesExist}}
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="porter.rememberContinue"/> Don't ask this the next time for realm <em>{{realm}}</em>
                            </label>
                        </div>
                    </div>
                {{/attributesExist}}
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" name="porter.submitType" value="Continue"/>
                </div>
            </form>
        </div>
    </div>
  </body>
</html>