<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Continue Authentication</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="{{staticResourcesPath}}/custom.css"/>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Porter <small>OpenId Provider {{#porter}}v{{version}}{{/porter}}</small></h1>
    </div>
    <h2>Error</h2>
    <p>An error occured, could not complete authentication request. This could be a bug in this openid provider
    (check the logs) or the relying party may have sent an invalid request.</p>
</div>
</body>
</html>