<html xmlns="http://www.w3.org/1999/html">
  <head>
      <title>Login</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css"/>
      <link rel="stylesheet" href="{{staticResourcesPath}}/custom.css"/>
  </head>
  <body>
    <div class="container">
        <div class="header">
            <h1>Porter <small>{{#identity}}OpenId Provider {{/identity}}{{#porter}}v{{version}}{{/porter}}</small></h1>
        </div>
        <h2>Sign In</h2>
        {{#identity}}
        <div id="porter.logininfo">
            <p>You're authenticating with <strong>{{realm}}</strong> as <strong>{{identity}}</strong></p>
        </div>
        {{/identity}}
        <br/>
        <div class="col-md-5 col-md-offset-3 porter-loginform">
            <form role="form" action="{{endpointUrl}}" method="post">
                {{#loginFailed}}
                    <p class="alert alert-danger alert-dismissable"><strong>Error:</strong> Invalid credentials!</p>
                {{/loginFailed}}
                {{#params}}
                    <input type="hidden" name="{{name}}" value="{{value}}"/>
                {{/params}}
                <div class="form-group">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" class="form-control input-lg" id="username" name="porter.username" value="{{#localId}}{{account}}{{/localId}}" placeholder="Username"/>
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" class="form-control input-lg" id="password" name="porter.password" placeholder="Password"/>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="porter.rememberme"> Remember me </input><br/>
                            <small>(<strong>USE THIS ONLY</strong> on private computers and with a <code>https://</code> url.)</small>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" name="porter.submitType" class="btn btn-primary btn-lg" value="Sign in"/>
                    {{#identity}}
                    <input type="submit" name="porter.submitType" class="btn btn-default btn-lg" value="Cancel"/>
                    {{/identity}}
                    {{#registerUrl}}
                    <div class="pull-right">
                        <a href="{{registerUrl}}">Register new account</a>
                    </div>
                    {{/registerUrl}}
                </div>
            </form>
        </div>
    </div>
  </body>
</html>